services:
  traefik:
    image: traefik:v3.0
    command:
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --api.dashboard=true
      - --entrypoints.websecure.http.tls=true
#      - --certificatesresolvers.myresolver.acme.tlschallenge=true
#      - --certificatesresolvers.myresolver.acme.email=contact@x.fr
#      - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --providers.file.directory=/etc/traefik/dynamic
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
#      - letsencrypt:/letsencrypt
      - ./certs:/certs:ro
      - ./traefik_dynamic:/etc/traefik/dynamic:ro
    networks:
      - veille_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.localhost`)"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"


  backend:
    container_name: Backend
    build:
      context: ./VeilleTechnoBack
      dockerfile: ../Docker/Dockerfile.backend
#   image: veille-back:latest
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      - MYSQL_HOST=db
    env_file:
      - ./Docker/.env
    networks:
      - veille_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.localhost`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls=true"
      - "traefik.http.services.backend.loadbalancer.server.port=8080"

    volumes:
      - ./VeilleTechnoBack:/app
      - ./m2-repo:/root/.m2/repository
    extra_hosts:
      - "keycloak.localhost:host-gateway"
  frontend:
    container_name: Frontend
#    image: veille-front:latest
    build:
      context: ./VeilleTechnoFront
      dockerfile: ../Docker/Dockerfile.frontend
    restart: unless-stopped
    networks:
      - veille_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`veille.localhost`)"
      - "traefik.http.services.frontend.loadbalancer.server.port=5173"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
    volumes:
      - ./VeilleTechnoFront:/app
      - node_modules:/app/node_modules
  db:
    container_name: DataBase
    image: mysql:8.0.19
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "--silent" ]
      interval: 3s
      retries: 5
      start_period: 30s
    networks:
      - veille_net
    ports:
      - "3336:3306"
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: veilleTechno
      MYSQL_USER: veilleTechno
      MYSQL_ROOT_PASSWORD: veilleTechno
      MYSQL_PASSWORD: veilleTechno
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    ports:
      - "2001:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    networks:
      - veille_net

  keycloak_db:
    image: postgres:16
    restart: unless-stopped
    networks:
      - veille_net
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U keycloak" ]
      interval: 5s
      retries: 10

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.0
    command: [
      "start-dev",
      "--import-realm",
      "--hostname=keycloak",
      "--spi-x509cert-lookup-provider=default"
    ]
    restart: unless-stopped
    depends_on:
      keycloak_db:
        condition: service_healthy
    environment:
      KC_DB: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_DB_URL: jdbc:postgresql://keycloak_db:5432/keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_COOKIE_SAME_SITE: none
      KC_HTTP_COOKIE_SECURE: "true"
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_STRICT: "false"
      KC_PROXY_HEADERS: xforwarded
      KC_PROXY: edge
    volumes:
      - ./keycloak/realm-export.json:/opt/keycloak/data/import/realm.json:ro
    networks:
      - veille_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`keycloak.localhost`)"
      - "traefik.http.routers.keycloak.entrypoints=websecure"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"
      - "traefik.http.routers.keycloak.tls=true"


volumes:
  db_data:
  letsencrypt: {}
  node_modules: {}
  keycloak_data: {}
networks:
  veille_net:
    driver:
      bridge